@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@media (max-height: 50%) {
    p {
        font-size: 10px;
    }
    #main-doc {
        max-width: 50%;
    }
}
#navbar {
    position: fixed;
    max-height: 100%;
    overflow: scroll;
    padding: 5px 5px 5px 5px;
}
.nav-link {
    display: block;
    text-decoration: none;
    color: black;
    width: 220px;
    padding: 12px 12px 15px 12px;
    background-color: white;
    border: 1px solid rgb(126, 125, 125);
    font-family: 'Montserrat';
}
a {
    text-align: left;
    margin: auto;
}
#main-doc {
    max-width: 100%;
    margin-left: 264px;
    background-color: white;
    line-break: auto;
    font-family:'Roboto';
    padding:10px 10px 10px 10px;
    position: relative;
    left:10px;
    text-align: left;
    border-left: solid 2px gray ;
}
.main-section {
    margin: 5px 20px 5px 20px;
    padding:10px 10px 10px 10px;
} 
header {
    font-family: 'Open Sans';
    font-size: 20px;
}
code {
    background-color: rgb(65, 158, 158);
    margin-left: 40px;
    padding:2px 2px 2px;
    width:100px;
}